footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-sizing: border-box;
    padding: 10%;
    background-color: var(--very-dark-cyan);
    color: var(--very-pale-blue);
    position: relative;
}

footer::before {
    content: '';
    width: 100%;
    height: 100px;
    position: absolute;
    top: -100px;
    background-image: url(../images/bg-footer-top-desktop.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

section[class="contact"] {
    display: grid;
    gap: 20px;
    width: 50%;
}

section[class="contact"] address {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: min-content;
    text-wrap: nowrap;
}

section[class="newsletter"] {
    width: 70%;
    align-content: center;
    justify-self: end;
}

section[class="newsletter"] p {
    width: 50%;
}

section[class="newsletter"] h2 {
    text-transform: uppercase;
    font-size: 1.5em;
}

section[class="subscribe"] {
    display: grid;
    grid-template-columns: 70fr 30fr;
    gap: 20px;
    width: 70%;
}

section[class="subscribe"] input[id="email"] {
    height: 50px;
    border-radius: 5px;
}

section[class="subscribe"] button {
    display: grid;
    height: 50px;
    width: 100%;
    place-content: center;
    background-color: var(--pink);
    border-radius: 5px;
    border: 0;
    color: var(--very-pale-blue);
    font-weight: 700;
    cursor: pointer;
    font-size: 1.3em;
    user-select: none;
    -webkit-user-select: none;
}

section[class="subscribe"] button:hover {
    filter: brightness(1.2);
}

a,
a:hover,
a:visited {
    text-decoration: none;
    font-style: normal;
    color: var(--very-pale-blue);
}

section[class="social"] {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    height: 50px;
    width: 100px;
    gap: 10px;
    place-items: center;
}

section[class="social"] svg {
    width: 25px;
    height: 25px;
    fill: var(--very-pale-blue);
    cursor: pointer;
}

section[class="social"] svg:hover {
    fill: blue;
}
section[class="subscribe"]:has(input:user-invalid){
    label[for="email"]::after{
        content: "Check your email please";
        color:var(--light-red);
        text-wrap: nowrap;
    }
     input[id="email"]{
        border-color: var(--light-red);
     }
}
@container (inline-size < 1000px) {
    footer {
        grid-template-columns: 1fr;
    }

    section[class="contact"] {
        order: 2;
        width: 100%;
    }

    section[class="newsletter"] {
        order: 1;
    }

    section[class="newsletter"],
    section[class="newsletter"] p {
        width: 100%;
    }

    section[class="subscribe"] {
        width: 100%;
    }

    section[class="subscribe"] input[id="email"] {
        grid-column: 1 / -1;
        width: 100%;
        padding-inline: 10px;
        box-sizing: border-box;
    }

    section[class="subscribe"] button {
        padding: 10px 20px;
        grid-column: 2 / -1;
    }

    footer::before {
        content: '';
        width: 100%;
        height: 100px;
        position: absolute;
        top: -100px;
        background-image: url(../images/bg-footer-top-mobile.svg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
}